<div style="background-color: gray;">
  <mat-checkbox style="display: inline-block; margin: 1rem;" [(ngModel)]="randomName">Random Name
  </mat-checkbox>

  <input [disabled]="randomName" placeholder="file custom name..." type="text" [(ngModel)]="name">

  <mat-checkbox style="display: inline-block; margin: 1rem;" [(ngModel)]="privateRecord">Private
  </mat-checkbox>

  <ng-container *ngIf="!srcResult">
    <button style="display: inline-block; margin: 1rem;" type="button" mat-raised-button
      (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected(fileInput)" #fileInput type="file" id="file">
  </ng-container>

  <span style="padding: 0.2rem; cursor:not-allowed; margin: 0 1rem; background-color: rgb(211, 211, 211);"
    (click)="clearFile()" *ngIf="srcResult">{{
    srcResult.name }}</span>

  <button [disabled]="loading" style="display: inline-block; margin: 1rem;" (click)="onSubmit()" type="button"
    mat-raised-button>Submit</button>

  <span style="margin: 1rem;" *ngIf="loading">...loading</span>

</div>


<div>

  <ng-container>
    <div style="margin: 1rem; background-color: gray;" *ngFor="let file of allPublicFiles$ | async">

      <div style="margin: 1rem;">
        <img style="max-width: 300px; max-height: 300px;" [src]="file.downloadURL" alt="picture">
        <a [href]="file.downloadURL" target="_blank">open in new window</a>

        <!-- todo copy to clipboard -->
        <!-- todo add next to picture -->
        <br>
        <button [cdkCopyToClipboard]="file.downloadURL">get url</button>
        <p></p>
        <!-- <button>delete</button>
        <br> -->
      </div>

    </div>
  </ng-container>
</div>

<router-outlet></router-outlet>
